*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height: 100%;
}

#box{
    display: flex;
    justify-content: end;
    align-items: center;
    width:500px;
    height: 500px;
    background-color: grey;
}
#box1{
    width:100px;
    height: 100px;
    background-color: rgb(148, 12, 12);
}
#box2{
    width:130px;
    height: 110px;
    background-color: rgb(104, 14, 104);
}
#box3{
    width:100px;
    height: 100px;
    background-color: rgb(163, 126, 31);
}

